body {
    background-color: #eee;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.main-title {
    padding: 1rem;
    background-color: #000;
}

.main-title h1 {
    color: #fff;
}

.main-content {
    padding: 2rem;
    background-color: #fff;
}

.main-content__table th {
    padding: 0.5rem;
    background-color: #333;
    color: #fff;
}

.main-content__table td {
    padding: 0.5rem;
}

/* ページネーション  */
.pagination {
    margin-top: 2rem;
    text-align: center;
}

.pagination > div {
    margin-top: 0.5rem;
}

.pagination .page {
    display: inline-block;
    padding: 0.6rem;
    margin: 0 0.5rem;
}

.pagination .prev-next {
    display: inline-block;
    padding: 0.6rem 1.5rem;
}

.pagination .page.current {
    font-weight: bold;
}

.pagination .link {
    background-color: #CCCCCC;
}

.pagination .unlink {
    background-color: #EEEEEE;
}
